---
import Vector from "../../public/Vector.astro";
import Layout from "../layouts/Layout.astro";
import SearchFormPizza from "../components/SearchPizza/SearchPizza.tsx";
import {HeroCards } from "../components/HeroCards.tsx";

---

<Layout title="Pizza Headless.">
    <main class="w-full relative flex flex-col justify-center items-center">
        <SearchFormPizza client:load />
        <section
            id="pizza-order"
            class="relative mx-auto w-full flex justify-center items-center"
        >
            <div
                transition:name="bg-image"
                class="absolute bg-[url(/herobg.svg)] -z-10 bg-auto bg-no-repeat bg-center top-36 h-[557px] w-full"
            >
            </div>

            <HeroCards client:load />
        </section>
    </main>
</Layout>
