---
import MenuButton from "../components/Buttons/MenuButton.astro";
import ContactModal from "../components/Contact/ContactModal.astro";
import Footer from "../components/Footer/Footer.astro";
import XIcon from "../components/Icons/XIcon";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Our Restaurant">
    <main class="flex flex-col flex-nowrap items-center justify-center gap-32">
        <section
            id="hero-section"
            class="w-full md:w-max lg:flex lg:flex-row flex-wrap grid grid-cols-1 text-center items-center justify-center lg:justify-between mx-auto mt-14 sm:min-h-[550px]"
        >
            <div
                transition:name="ourRestaurant-image"
                class="relative min-w-96 min-h-96 w-3/4 max-w-xl h-[566px] flex justify-center items-center self-center"
            >
                <img src="/image-3.webp" class="object-cover" />
                <div
                    class="w-[70px] h-[70px] absolute top-14 -left-6 sm:top-0 sm:left-0 bg-[#f6ce40] transition-all hover:animate-spin"
                >
                </div>
                <div
                    class="w-[70px] h-[70px] absolute bottom-14 -right-6 sm:bottom-0 sm:right-0 bg-[#f6ce40] transition-all hover:animate-spin"
                >
                </div>
            </div>
            <div
                transition:name="hero-text"
                class="max-w-2xl text-center lg:text-left flex flex-col justify-center items-center lg:block mt-10"
            >
                <h1
                    class="flex flex-col text-6xl lg:text-[65px] font-bold text-balance mb-10"
                >
                    <span>Our restaurant,</span>
                    <span>Our Italian pride.</span>
                </h1>
                <p class="text-[16px] text-wrap w-auto">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi eu cursus nisi. Nunc consectetur ipsum pharetra,
                    congue odio quis, porttitor ligula. Vestibulum viverra.
                </p>
                <MenuButton />
            </div>
        </section>
        <section
            class="lg:flex lg:flex-nowrap items-center justify-center place-content-center grid grid-cols-1 text-center max-w-7xl lg:gap-4 gap-20"
        >
            <article
                class="max-w-md col-span-1 mx-auto flex flex-col gap-5 items-center justify-center place-content-center"
            >
                <div><img src="/logo.svg" alt="" /></div>
                <h2 class="font-bold text-[30px] text-center text-black">
                    LOREM IPSUM
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quod necessitatibus, voluptatem deserunt distinctio nisi
                    omnis beatae! Ea eaque ducimus cum porro nihil, explicabo
                    quo deleniti voluptatem nulla voluptas sequi rerum!
                </p>
                <small class="text-sm"> Pizza d’asporto </small>
            </article>
            <article
                class="max-w-md col-span-1 mx-auto flex flex-col gap-5 items-center justify-center place-content-center"
            >
                <div><img src="/logo.svg" alt="" /></div>
                <h2 class="font-bold text-[30px] text-center text-black">
                    LOREM IPSUM
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quod necessitatibus, voluptatem deserunt distinctio nisi
                    omnis beatae! Ea eaque ducimus cum porro nihil, explicabo
                    quo deleniti voluptatem nulla voluptas sequi rerum!
                </p>
                <small class="text-sm"> Ristorante accogliente </small>
            </article>
            <article
                class="max-w-md col-span-1 mx-auto flex flex-col gap-5 items-center justify-center place-content-center"
            >
                <div><img src="/logo.svg" alt="" /></div>
                <h2 class="font-bold text-[30px] text-center text-black">
                    LOREM IPSUM
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quod necessitatibus, voluptatem deserunt distinctio nisi
                    omnis beatae! Ea eaque ducimus cum porro nihil, explicabo
                    quo deleniti voluptatem nulla voluptas sequi rerum!
                </p>
                <small class="text-sm"> Ingredienti di qualita’ </small>
            </article>
        </section>
        <section class="container text-gray-600 body-font relative w-full min-h-[800px]">
            <div class="absolute inset-0 bg-gray-300">
                <iframe
                    class="border-0 focus:outline-none outline-none"
                    src="https://snazzymaps.com/embed/624196"
                    width="100%"
                    height="100%"
                    loading="lazy"></iframe>
            </div>
            <div>
                <label for="contact-button" class="z-20 absolute mt-10 rounded-lg flex items-center justify-center gap-2 w-fit left-10 px-7 py-3 bg-bright-sun-400 text-white font-semibold shadow-lg hover:scale-105 transition-all duration-300 cursor-pointer"> Contact us <span class="peer-checked:block hidden"> <XIcon client:load> </span> </label>
                    <input id="contact-button" type="checkbox" class="peer not-sr-only hidden" >
                    </input>
                    <div
                        class="mt-24 peer-checked:animate-modalActive peer-checked:visible invisible container absolute left-10 z-20 h-fit w-96 rounded-md bg-clip-padding
                    backdrop-filter backdrop-blur-lg bg-white p-8"
                    >
                    <ContactModal />
                    </div>
            </div>
            <div class="container px-10 py-10">
                <form
                    class="lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md"
                >
                    <h2
                        class="text-gray-900 text-lg mb-1 font-medium title-font"
                    >
                        Give us a feedback
                    </h2>
                    <p class="leading-relaxed mb-5 text-gray-600">
                        Let us know what you think about our restaurant.
                    </p>
                    <div class="relative mb-4">
                        <label
                            for="email"
                            class="leading-7 text-sm text-gray-600"
                            >Your Email</label
                        >
                        <input
                            type="email"
                            id="email"
                            name="email"
                            class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                        />
                    </div>
                    <div class="relative mb-4">
                        <label
                            for="message"
                            class="leading-7 text-sm text-gray-600"
                            >Feedback</label
                        >
                        <textarea
                            id="message"
                            name="message"
                            class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                        ></textarea>
                    </div>
                    <button
                        class="rounded-lg flex items-center justify-center gap-2 w-full px-7 py-3 bg-bright-sun-400 text-white mt-8 font-semibold shadow-lg hover:scale-105 transition-all duration-300 cursor-pointer"
                        >Send <span><img src="/rightarrow.svg" alt="" /></span>
                    </button>
                    <p class="text-xs text-gray-500 mt-3">
                        Feebacks could be published on our website. Please be
                        polite.
                    </p>
                </form>
            </div>
        </section>
    </main>
    <Footer />
</Layout>
