---
import MenuButton from "../components/Buttons/MenuButton.astro";
import Footer from "../components/Footer/Footer.astro";
import { PizzaMenu } from "../components/Menu/Menu";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<main class="w-full relative">
		<section
			id="hero-section"
			class="w-full md:w-max flex flex-row flex-wrap justify-between mx-auto mt-14 sm:min-h-[550px]"
		>
			<div transition:name="hero-text" class="max-w-2xl">
				<small class="text-2xl font-pattaya text-bright-sun-300"
					>Based in Italy</small
				>
				<h1 class="flex flex-col text-[65px] font-bold">
					<span>Artisan Pizzas,</span>
					<span>Crafted with Care</span>
				</h1>
				<p class="text-[16px]">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Morbi eu cursus nisi. Nunc consectetur ipsum pharetra,
					congue odio quis, porttitor ligula. Vestibulum viverra.
				</p>
				<MenuButton />
			</div>
			<picture class="max-w-lg self-start -z-[999]">
				<img
					transition:name="margherita"
					src="/margherita.webp"
					alt="Pizza Margherita with Basilic and Tomato Sauce"
				/>
			</picture>
		</section>
		<section
			id="pizza-order"
			class="relative mx-auto w-full flex justify-center items-center"
		>
			<div
				transition:name="bg-image"
				class="absolute bg-[url(/herobg.svg)] -z-10 bg-auto bg-no-repeat bg-center -top-5 h-[557px] w-full"
			>
			</div>
			<div transition:name="hero-cards" class="min-h-96">
				<PizzaMenu home={true} client:load />
			</div>
		</section>
		<section
			class="w-full max-w-max flex xl:flex-row flex-col flex-nowrap gap-5 mx-auto mt-32"
		>
			<div
				transition:name="ourRestaurant-image"
				class="relative min-w-96 min-h-96 w-3/4 max-w-xl h-[566px] flex justify-center items-center self-center"
			>
				<img src="/image-3.webp" class="object-cover" />
				<div
					class="w-[70px] h-[70px] absolute top-14 -left-6 sm:top-0 sm:left-0 bg-[#f6ce40] transition-all hover:animate-spin"
				>
				</div>
				<div
					class="w-[70px] h-[70px] absolute bottom-14 -right-6 sm:bottom-0 sm:right-0 bg-[#f6ce40] transition-all hover:animate-spin"
				>
				</div>
			</div>
			<article
				class="flex flex-col flex-nowrap justify-center items-center text-center"
			>
				<h3 class="text-3xl font-bold text-[#be9400] mb-5">
					Our Restaurant
				</h3>
				<p
					class="w-full md:w-[709px] h-[138px] leading-7 text-base font-medium text-black"
				>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Cras eleifend fermentum venenatis. Ut pretium consequat mi a
					rhoncus. Praesent maximus velit a quam condimentum maximus
					id quis mauris. Maecenas neque ex, laoreet id nisl mattis,
					euismod dapibus nulla. Maecenas pharetra nisl nec justo
					malesuada auctor.
				</p>
				<a
					href="/about"
					class="w-[253px] h-[43px] mt-10 md:mt-0 text-base font-semibold text-white rounded-[5px] bg-[#e1b000] px-6 py-3"
				>
					Discover our restaurant
				</a>
			</article>
		</section>
	</main>
	<section
		class="w-full max-w-max flex flex-row flex-wrap gap-10 xl:gap-5 mx-auto mt-32 place-content-center text-center"
	>
		<article
			class="flex flex-col flex-nowrap justify-center items-center w-full mb-14"
		>
			<h3 class="font-bold text-[30px] text-[#be9400]">Blog</h3>
			<span class="font-medium text-[16px] leading-[30px] text-black"
				>Discover our blog and learn more about Artisan Pizzeria
				Restaurant</span
			>
		</article>
		<div class="w-[427px] h-[589px] bg-[#fff5d3] px-8 py-5">
			<div
				class="px-3 py-1 mx-auto w-fit relative -top-9 bg-[#efc50e] flex justify-center items-center"
			>
				<span class="text-base font-semibold text-black text-nowrap"
					>Category</span
				>
			</div>
			<picture class="">
				<div
					class="w-[359px] h-[222px] bg-[#efc50e] absolute -rotate-6"
				>
				</div>
				<img
					src="/image-3.webp"
					class="w-[359px] h-[222px] object-cover relative z-10"
				/>
			</picture>
			<div>
				<h3
					class="w-[363px] h-[46px] text-lg font-semibold text-left text-black my-8"
				>
					Lorem ipsum dolor sit amen et lorem ipsum dolor sit amen et
				</h3>
				<p class="text-base text-left text-[#585858]">
					<span class="text-base font-medium text-left text-[#585858]"
						>Lorem ipsum dolor sit amet, consectetur adipiscing
						elit. Morbi eu cursus nisi. Nunc consectetur ipsum
						pharetra, congue odio quis, porttitor ligula.
					</span><span
						class="text-base font-bold text-left text-[#585858]"
						>Read More...</span
					>
				</p>
				<div class="flex flex-row flex-nowrap justify-between mt-20">
					<span class="text-sm italic text-left text-[#585858]">
						Nome Cognome
					</span>
					<span class="text-sm italic text-left text-[#585858]">
						25/05/2024
					</span>
				</div>
			</div>
		</div>
		<div class="w-[427px] h-[589px] bg-[#fff5d3] px-8 py-5">
			<div
				class="px-3 py-1 mx-auto w-fit relative -top-9 bg-[#efc50e] flex justify-center items-center"
			>
				<span class="text-base font-semibold text-black text-nowrap"
					>Category</span
				>
			</div>
			<picture class="">
				<div
					class="w-[359px] h-[222px] bg-[#efc50e] absolute -rotate-6"
				>
				</div>
				<img
					src="/image-3.webp"
					class="w-[359px] h-[222px] object-cover relative z-10"
				/>
			</picture>
			<div>
				<h3
					class="w-[363px] h-[46px] text-lg font-semibold text-left text-black my-8"
				>
					Lorem ipsum dolor sit amen et lorem ipsum dolor sit amen et
				</h3>
				<p class="text-base text-left text-[#585858]">
					<span class="text-base font-medium text-left text-[#585858]"
						>Lorem ipsum dolor sit amet, consectetur adipiscing
						elit. Morbi eu cursus nisi. Nunc consectetur ipsum
						pharetra, congue odio quis, porttitor ligula.
					</span><span
						class="text-base font-bold text-left text-[#585858]"
						>Read More...</span
					>
				</p>
				<div class="flex flex-row flex-nowrap justify-between mt-20">
					<span class="text-sm italic text-left text-[#585858]">
						Nome Cognome
					</span>
					<span class="text-sm italic text-left text-[#585858]">
						25/05/2024
					</span>
				</div>
			</div>
		</div>
		<div class="w-[427px] h-[589px] bg-[#fff5d3] px-8 py-5">
			<div
				class="px-3 py-1 mx-auto w-fit relative -top-9 bg-[#efc50e] flex justify-center items-center"
			>
				<span class="text-base font-semibold text-black text-nowrap"
					>Category</span
				>
			</div>
			<picture class="">
				<div
					class="w-[359px] h-[222px] bg-[#efc50e] absolute -rotate-6"
				>
				</div>
				<img
					src="/image-3.webp"
					class="w-[359px] h-[222px] object-cover relative z-10"
				/>
			</picture>
			<div>
				<h3
					class="w-[363px] h-[46px] text-lg font-semibold text-left text-black my-8"
				>
					Lorem ipsum dolor sit amen et lorem ipsum dolor sit amen et
				</h3>
				<p class="text-base text-left text-[#585858]">
					<span class="text-base font-medium text-left text-[#585858]"
						>Lorem ipsum dolor sit amet, consectetur adipiscing
						elit. Morbi eu cursus nisi. Nunc consectetur ipsum
						pharetra, congue odio quis, porttitor ligula.
					</span><span
						class="text-base font-bold text-left text-[#585858]"
						>Read More...</span
					>
				</p>
				<div class="flex flex-row flex-nowrap justify-between mt-20">
					<span class="text-sm italic text-left text-[#585858]">
						Nome Cognome
					</span>
					<span class="text-sm italic text-left text-[#585858]">
						25/05/2024
					</span>
				</div>
			</div>
		</div>
		<div class="w-full flex place-content-center text-white mt-10">
			<button
				class="w-[198px] self-center h-[43px] rounded-[5px] bg-[#e1b000] hover:scale-105 transition-all"
				>Read More</button
			>
		</div>
	</section>
</Layout>
<Footer />
