---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pizza Headless.">
	<main class="w-full mx-auto">
		<section
			id="hero-section"
			class="flex flex-row flex-wrap justify-between"
		>
			<div class="max-w-2xl">
				<small class="text-2xl font-pattaya text-bright-sun-300"
					>Based in Italy</small
				>
				<h1 class="flex flex-col text-[65px]">
					<span>Artisan Pizzas,</span>
					<span>Crafted with Care</span>
				</h1>
				<p class="text-[16px]">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Morbi eu cursus nisi. Nunc consectetur ipsum pharetra,
					congue odio quis, porttitor ligula. Vestibulum viverra.
				</p>
				<button>Check the menu</button>
			</div>
			<picture>
				<img
					src="/pizzaexample.webp"
					alt="Pizza Margherita with Basilic and Tomato Sauce"
				/>
			</picture>
		</section>
		<section
			id="pizza-order"
			class="bg-[url(/herobg.svg)] bg-auto bg-center bg-no-repeat"
		>
		</section>
	</main>
</Layout>
