---
import Vector from "../../public/Vector.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pizza Headless.">
	<main class="w-full relative">
		<section
			id="hero-section"
			class="w-full md:w-max flex flex-row flex-wrap justify-between mx-auto mt-14"
		>
			<div class="max-w-2xl">
				<small class="text-2xl font-pattaya text-bright-sun-300"
					>Based in Italy</small
				>
				<h1 class="flex flex-col text-[65px] font-bold">
					<span>Artisan Pizzas,</span>
					<span>Crafted with Care</span>
				</h1>
				<p class="text-[16px]">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Morbi eu cursus nisi. Nunc consectetur ipsum pharetra,
					congue odio quis, porttitor ligula. Vestibulum viverra.
				</p>
				<button
					class="rounded-lg px-7 py-3 bg-bright-sun-400 text-white mt-8 font-semibold shadow-lg hover:scale-105 transition-all duration-300 cursor-pointer"
					>Check the menu</button
				>
			</div>
			<picture>
				<img
					src="/pizzaexample.webp"
					alt="Pizza Margherita with Basilic and Tomato Sauce"
				/>
			</picture>
		</section>
		<section
			id="pizza-order"
			class="relative mx-auto w-full flex justify-center items-center"
		>
			<div
				class="absolute bg-[url(/herobg.svg)] -z-10 bg-auto bg-no-repeat bg-center -top-5 h-[557px] w-full"
			>
			</div>
			<section
				id="cards"
				class="w-full gap-6 mx-auto mt-14 flex flex-col md:flex-row flex-wrap justify-center"
			>
				<article
					id="productcard"
					class="relative flex flex-col w-[315px] h-[332px] bg-white/70 rounded-xl backdrop-blur-lg shadow-black/25 shadow-lg overflow-hidden"
				>
					<div class="h-1/2">
						<img
							src="/pizzaexample.webp"
							alt=""
							class="fixed -top-1/2"
						/>
					</div>
					<div class="mx-8">
						<div class="flex flex-row justify-between gap-10">
							<span class="text-black font-semibold"
								>Margherita</span
							><span class="text-red-500 font-semibold"
								>7.50 €</span
							>
						</div>
						<small class="text-gray-500">Pomodoro, Mozzarella</small
						>
					</div>

					<button
						class="flex flex-row flex-nowrap justify-center items-center gap-2 rounded-lg px-7 py-3 mx-14 bg-bright-sun-400 text-white mt-8 font-semibold shadow-lg hover:scale-105 transition-all duration-300 cursor-pointer"
					>
						<span>Add to order</span><Vector /></button
					>
				</article>
				<article
					id="productcard"
					class="relative flex flex-col w-[315px] h-[332px] bg-white/70 rounded-xl backdrop-blur-lg shadow-black/25 shadow-lg overflow-hidden"
				>
					<div class="h-1/2">
						<img
							src="/pizzaexample.webp"
							alt=""
							class="fixed -top-1/2"
						/>
					</div>
					<div class="mx-8">
						<div class="flex flex-row justify-between gap-10">
							<span class="text-black font-semibold"
								>Margherita</span
							><span class="text-red-500 font-semibold"
								>7.50 €</span
							>
						</div>
						<small class="text-gray-500">Pomodoro, Mozzarella</small
						>
					</div>

					<button
						class="flex flex-row flex-nowrap justify-center items-center gap-2 rounded-lg px-7 py-3 mx-14 bg-bright-sun-400 text-white mt-8 font-semibold shadow-lg hover:scale-105 transition-all duration-300 cursor-pointer"
					>
						<span>Add to order</span><Vector /></button
					>
				</article>
				<article
					id="productcard"
					class="relative flex flex-col w-[315px] h-[332px] bg-white/70 rounded-xl backdrop-blur-lg shadow-black/25 shadow-lg overflow-hidden"
				>
					<div class="h-1/2">
						<img
							src="/pizzaexample.webp"
							alt=""
							class="fixed -top-1/2"
						/>
					</div>
					<div class="mx-8">
						<div class="flex flex-row justify-between gap-10">
							<span class="text-black font-semibold"
								>Margherita</span
							><span class="text-red-500 font-semibold"
								>7.50 €</span
							>
						</div>
						<small class="text-gray-500">Pomodoro, Mozzarella</small
						>
					</div>

					<button
						class="flex flex-row flex-nowrap justify-center items-center gap-2 rounded-lg px-7 py-3 mx-14 bg-bright-sun-400 text-white mt-8 font-semibold shadow-lg hover:scale-105 transition-all duration-300 cursor-pointer"
					>
						<span>Add to order</span><Vector /></button
					>
				</article>
				<article
					id="productcard"
					class="relative flex flex-col w-[315px] h-[332px] bg-white/70 rounded-xl backdrop-blur-lg shadow-black/25 shadow-lg overflow-hidden"
				>
					<div class="h-1/2">
						<img
							src="/pizzaexample.webp"
							alt=""
							class="fixed -top-1/2"
						/>
					</div>
					<div class="mx-8">
						<div class="flex flex-row justify-between gap-10">
							<span class="text-black font-semibold"
								>Margherita</span
							><span class="text-red-500 font-semibold"
								>7.50 €</span
							>
						</div>
						<small class="text-gray-500">Pomodoro, Mozzarella</small
						>
					</div>

					<button
						class="flex flex-row flex-nowrap justify-center items-center gap-2 rounded-lg px-7 py-3 mx-14 bg-bright-sun-400 text-white mt-8 font-semibold shadow-lg hover:scale-105 transition-all duration-300 cursor-pointer"
					>
						<span>Add to order</span><Vector /></button
					>
				</article>
			</section>
		</section>
		<section
			class="w-full max-w-max flex flex-row flex-wrap gap-5 mx-auto mt-32"
		>
			<div
				class="relative w-full max-w-xl h-[566px] flex justify-center items-center"
			>
				<img src="/image-3.png" class="w-auto max-w-lg object-cover" />
				<div
					class="w-[70px] h-[70px] absolute top-0 left-0 bg-[#f6ce40]"
				>
				</div>
				<div
					class="w-[70px] h-[70px] absolute bottom-0 right-0 bg-[#f6ce40]"
				>
				</div>
			</div>
			<article
				class="flex flex-col flex-nowrap justify-center items-center text-center"
			>
				<h3 class="text-3xl font-bold text-[#be9400] mb-5">
					Our Restaurant
				</h3>
				<p
					class="w-[709px] h-[138px] leading-7 text-base font-medium text-black"
				>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Cras eleifend fermentum venenatis. Ut pretium consequat mi a
					rhoncus. Praesent maximus velit a quam condimentum maximus
					id quis mauris. Maecenas neque ex, laoreet id nisl mattis,
					euismod dapibus nulla. Maecenas pharetra nisl nec justo
					malesuada auctor.
				</p>
				<button
					class="w-[253px] h-[43px] text-base font-semibold text-white rounded-[5px] bg-[#e1b000] px-6 py-3"
				>
					Discover our restaurant
				</button>
			</article>
		</section>
		<section
			class="w-full max-w-max flex flex-row flex-wrap gap-5 mx-auto mt-32"
		>
			<article
				class="flex flex-col flex-nowrap justify-center items-center w-full mb-14"
			>
				<h3 class="font-bold text-[30px] text-[#be9400]">Blog</h3>
				<span class="font-medium text-[16px] leading-[30px] text-black"
					>Discover our blog and learn more about Artisan Pizzeria
					Restaurant</span
				>
			</article>
			<div class="w-[427px] h-[589px] bg-[#fff5d3] px-8 py-5">
				<div
					class="px-3 py-1 mx-auto w-fit relative -top-9 bg-[#efc50e] flex justify-center items-center"
				>
					<span class="text-base font-semibold text-black text-nowrap"
						>Category</span
					>
				</div>
				<picture class="">
					<div
						class="w-[359px] h-[222px] bg-[#efc50e] absolute -rotate-6"
					>
					</div>
					<img
						src="/image-3.png"
						class="w-[359px] h-[222px] object-cover relative z-10"
					/>
				</picture>
				<div>
					<h3
						class="w-[363px] h-[46px] text-lg font-semibold text-left text-black my-8"
					>
						Lorem ipsum dolor sit amen et lorem ipsum dolor sit amen
						et
					</h3>
					<p class="text-base text-left text-[#585858]">
						<span
							class="text-base font-medium text-left text-[#585858]"
							>Lorem ipsum dolor sit amet, consectetur adipiscing
							elit. Morbi eu cursus nisi. Nunc consectetur ipsum
							pharetra, congue odio quis, porttitor ligula.
						</span><span
							class="text-base font-bold text-left text-[#585858]"
							>Read More...</span
						>
					</p>
					<div
						class="flex flex-row flex-nowrap justify-between mt-20"
					>
						<span class="text-sm italic text-left text-[#585858]">
							Nome Cognome
						</span>
						<span class="text-sm italic text-left text-[#585858]">
							25/05/2024
						</span>
					</div>
				</div>
			</div>
			<div class="w-[427px] h-[589px] bg-[#fff5d3] px-8 py-5">
				<div
					class="px-3 py-1 mx-auto w-fit relative -top-9 bg-[#efc50e] flex justify-center items-center"
				>
					<span class="text-base font-semibold text-black text-nowrap"
						>Category</span
					>
				</div>
				<picture class="">
					<div
						class="w-[359px] h-[222px] bg-[#efc50e] absolute -rotate-6"
					>
					</div>
					<img
						src="/image-3.png"
						class="w-[359px] h-[222px] object-cover relative z-10"
					/>
				</picture>
				<div>
					<h3
						class="w-[363px] h-[46px] text-lg font-semibold text-left text-black my-8"
					>
						Lorem ipsum dolor sit amen et lorem ipsum dolor sit amen
						et
					</h3>
					<p class="text-base text-left text-[#585858]">
						<span
							class="text-base font-medium text-left text-[#585858]"
							>Lorem ipsum dolor sit amet, consectetur adipiscing
							elit. Morbi eu cursus nisi. Nunc consectetur ipsum
							pharetra, congue odio quis, porttitor ligula.
						</span><span
							class="text-base font-bold text-left text-[#585858]"
							>Read More...</span
						>
					</p>
					<div
						class="flex flex-row flex-nowrap justify-between mt-20"
					>
						<span class="text-sm italic text-left text-[#585858]">
							Nome Cognome
						</span>
						<span class="text-sm italic text-left text-[#585858]">
							25/05/2024
						</span>
					</div>
				</div>
			</div>
			<div class="w-[427px] h-[589px] bg-[#fff5d3] px-8 py-5">
				<div
					class="px-3 py-1 mx-auto w-fit relative -top-9 bg-[#efc50e] flex justify-center items-center"
				>
					<span class="text-base font-semibold text-black text-nowrap"
						>Category</span
					>
				</div>
				<picture class="">
					<div
						class="w-[359px] h-[222px] bg-[#efc50e] absolute -rotate-6"
					>
					</div>
					<img
						src="/image-3.png"
						class="w-[359px] h-[222px] object-cover relative z-10"
					/>
				</picture>
				<div>
					<h3
						class="w-[363px] h-[46px] text-lg font-semibold text-left text-black my-8"
					>
						Lorem ipsum dolor sit amen et lorem ipsum dolor sit amen
						et
					</h3>
					<p class="text-base text-left text-[#585858]">
						<span
							class="text-base font-medium text-left text-[#585858]"
							>Lorem ipsum dolor sit amet, consectetur adipiscing
							elit. Morbi eu cursus nisi. Nunc consectetur ipsum
							pharetra, congue odio quis, porttitor ligula.
						</span><span
							class="text-base font-bold text-left text-[#585858]"
							>Read More...</span
						>
					</p>
					<div
						class="flex flex-row flex-nowrap justify-between mt-20"
					>
						<span class="text-sm italic text-left text-[#585858]">
							Nome Cognome
						</span>
						<span class="text-sm italic text-left text-[#585858]">
							25/05/2024
						</span>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
